@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Poppins:wght@700&display=swap");

:root {
  --Pink: hsl(322, 100%, 66%);
  --Light-Pink: hsl(320.9, 89%, 46.3%);
  --Light-Red: hsl(0, 100%, 63%);
  --Very-Dark-Cyan: hsl(192, 100%, 9%);
  --Very-Pale-Blue: hsl(207, 100%, 98%);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
a {
  text-decoration: none;
  font-family: inherit;
}
.visually-hidden {
  border: 0;
  padding: 0;
  margin: 0;
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  white-space: nowrap;
}
address {
  font-style: normal;
  font-size: inherit;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 1.6rem;
  padding-top: 5rem;
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

.desc {
  line-height: 2.5rem;
}
.headings {
  font-family: "Poppins", sans-serif;
  color: var(--Very-Dark-Cyan);
}
.top-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 6rem;
  margin-bottom: 20rem;
}

.header-btn {
  color: var(--Light-Pink);
  display: block;
  min-width: 12.8rem;
  border: 0.1rem solid var(--Light-Pink);
  text-align: center;
  padding: 0.5rem 1rem;
  border-radius: 5rem;
  font-size: 1.5rem;
}
.header-btn:hover {
  color: rgba(223, 13, 150, 0.308);
  border-color: rgba(223, 13, 150, 0.308);
}
.top-article {
  text-align: center;

  margin-bottom: 9rem;
}
.top-title {
  font-size: 4rem;
  margin-bottom: 2rem;
}

.top-article-header {
  padding: 0 2.4rem;
}
.top-article-header p {
  max-width: 50rem;
  margin: 0 auto;
  margin-bottom: 2rem;
}
.pink-button {
  width: 23%;

  background-color: var(--Pink);
  color: white;
  padding: 1.5rem 2rem;
  display: inline-block;
  min-width: 20rem;
  border-radius: 5rem;
  box-shadow: 0px 5px 13px -6px rgba(0, 37, 46, 0.6);
  -webkit-box-shadow: 0px 5px 13px -6px rgba(0, 37, 46, 0.6);
  -moz-box-shadow: 0px 5px 13px -6px rgba(0, 37, 46, 0.6);
  margin-bottom: 12rem;
}
.pink-button:hover {
  background-color: hsla(322, 100%, 66%, 0.75);
}

.hero-img {
  display: block;
  padding: 0 20rem;
  margin-bottom: 10rem;
}

.mockup {
  width: 100%;
}
.stats-div {
  display: flex;
  justify-content: center;
  column-gap: 40rem;
}
.bold {
  font-size: 7rem;
  font-weight: 700;
  color: var(--Very-Dark-Cyan);
}
.light {
  color: #686464;
}

.community-stats {
  background-image: url(./images/icon-communities.svg);
  background-repeat: no-repeat;
  background-position: top left 1vw;
  background-size: 2.5rem;
  max-width: 20rem;
  padding: 1rem;
}
.msg-stats {
  max-width: 20rem;
  padding: 1rem;
  background-image: url(./images/icon-messages.svg);
  background-repeat: no-repeat;
  background-size: 2.5rem;
  background-position: top left 1vw;
}
.top-wave,
.bottom-wave {
  display: block;
  width: 100%;
}

.grow-together-div {
  margin-bottom: 15rem;
}
.grow-together-article-div,
.users-article-div {
  background-color: #f6fbff;

  padding: 0 13rem;
}
.flow-conversation-article {
  margin-bottom: 15rem;
}
.grow-togehter-article,
.flow-conversation-article,
.users-article {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 10rem;
  align-items: center;
}
.top-wave-img,
.bottom-wave-img,
.black-wave-img {
  display: block;
  width: 100%;
}
.grow-together-img,
.flow-img,
.users-img {
  width: 100%;
}

.card-title {
  margin-bottom: 1.5rem;
}
.flow-conversation-article {
  padding: 0 13rem;
}

.conversation {
  grid-column: 1;
  grid-row: 1;
}
.flow-conversation-article header {
  grid-column: 2;
}

aside {
  margin-top: 15rem;
  text-align: center;
}
aside h2 {
  font-size: 3rem;
  margin-bottom: 3rem;
}

.footer-content-container {
  background-color: #00252e;
  color: white;
  padding: 10rem 13rem 5rem 13rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem 10rem;
  align-items: start;
}

.huddle-address {
  max-width: 35rem;
  display: grid;
  gap: 2.5rem;
}
footer a {
  color: inherit;
}
.newsletter header h2 {
  color: inherit;
  font-weight: 200;
  margin-bottom: 2.5rem;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
}

.social-icon {
  margin-top: 3rem;
  display: flex;
  gap: 2rem;
}
.social-icon a {
  font-size: 3rem;
}
.social-icon a:hover {
  color: #00c8f6;
}
footer {
  font-size: 1.5rem;
}
.news-desc {
  max-width: 36rem;
}
.newsletter {
  display: grid;
  gap: 2.5rem;
}
form {
  display: flex;

  align-items: center;
  gap: 3rem;
}

input[type="email"] {
  width: 66%;
  padding: 1rem;
  border-radius: 0.5rem;
  border: none;

  font-size: 1.5rem;
  min-width: 25rem;
}
button[type="submit"] {
  border: none;
  padding: 1rem;
  background-color: var(--Pink);
  color: white;
  width: 30%;
  border-radius: 0.5rem;
  min-width: 12rem;
}
button[type="submit"]:hover {
  background-color: #ff8ed6;
  cursor: pointer;
}

.tel img,
.mail img {
  margin-right: 1.5rem;
}

@media screen and (max-width: 55em) {
  .grow-togehter-article,
  .flow-conversation-article,
  .users-article {
    grid-template-columns: 1fr;
    gap: 9rem;
  }

  .grow-togehter-article header,
  .users-article header {
    grid-row: 2;
  }
  .flow-conversation-article {
    display: flex;
    flex-direction: column-reverse;
  }
}

@media screen and (max-width: 54em) {
  form {
    flex-direction: column;
  }
  button[type="submit"] {
    width: 100%;
  }
  .hero-img-div {
    display: grid;
  }
  .stats-div {
    flex-direction: column;
    justify-content: center;
    justify-self: center;
    row-gap: 7rem;
  }
}
