@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Poppins:wght@700&display=swap");

:root {
  --Pink: hsl(322, 100%, 66%);
  --Light-Pink: hsl(320.9, 89%, 46.3%);
  --Light-Red: hsl(0, 100%, 63%);
  --Very-Dark-Cyan: hsl(192, 100%, 9%);
  --Very-Pale-Blue: hsl(207, 100%, 98%);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
a {
  text-decoration: none;
  font-family: inherit;
}
.visually-hidden {
  border: 0;
  padding: 0;
  margin: 0;
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  white-space: nowrap;
}
address {
  font-style: normal;
  font-size: inherit;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 1.6rem;
  padding-top: 5rem;
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

.desc {
  line-height: 2.5rem;
}
.headings {
  font-family: "Poppins", sans-serif;
  color: var(--Very-Dark-Cyan);
}
.top-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 6rem;
  margin-bottom: 20rem;
}

.header-btn {
  color: var(--Light-Pink);
  display: block;
  min-width: 12.8rem;
  border: 0.1rem solid var(--Light-Pink);
  text-align: center;
  padding: 0.5rem 1rem;
  border-radius: 5rem;
  font-size: 1.5rem;
}
.header-btn:hover {
  color: rgba(223, 13, 150, 0.308);
  border-color: rgba(223, 13, 150, 0.308);
}
.top-article {
  text-align: center;

  margin-bottom: 9rem;
}
.top-title {
  font-size: 4rem;
  margin-bottom: 2rem;
}

.top-article-header {
  padding: 0 2.4rem;
}
.top-article-header p {
  max-width: 50rem;
  margin: 0 auto;
  margin-bottom: 2rem;
}
.pink-button {
  width: 23%;

  background-color: var(--Pink);
  color: white;
  padding: 1.5rem 2rem;
  display: inline-block;
  min-width: 20rem;
  border-radius: 5rem;
  box-shadow: 0px 5px 13px -6px rgba(0, 37, 46, 0.6);
  -webkit-box-shadow: 0px 5px 13px -6px rgba(0, 37, 46, 0.6);
  -moz-box-shadow: 0px 5px 13px -6px rgba(0, 37, 46, 0.6);
  margin-bottom: 12rem;
}
.pink-button:hover {
  background-color: hsla(322, 100%, 66%, 0.75);
}

.hero-img {
  display: block;
  padding: 0 20rem;
  margin-bottom: 10rem;
}

.mockup {
  width: 100%;
}
.stats-div {
  display: flex;
  justify-content: center;
  column-gap: 40rem;
}
.bold {
  font-size: 7rem;
  font-weight: 700;
  color: var(--Very-Dark-Cyan);
}
.light {
  color: #686464;
}

.community-stats {
  background-image: url(./images/icon-communities.svg);
  background-repeat: no-repeat;
  background-position: top left 1vw;
  background-size: 2.5rem;
  max-width: 20rem;
  padding: 1rem;
}
.msg-stats {
  max-width: 20rem;
  padding: 1rem;
  background-image: url(./images/icon-messages.svg);
  background-repeat: no-repeat;
  background-size: 2.5rem;
  background-position: top left 1vw;
}
.top-wave,
.bottom-wave {
  display: block;
  width: 100%;
}

.grow-together-div {
  margin-bottom: 15rem;
}
.grow-together-article-div,
.users-article-div {
  background-color: #f6fbff;

  padding: 0 13rem;
}
.flow-conversation-article {
  margin-bottom: 15rem;
}
.grow-togehter-article,
.flow-conversation-article,
.users-article {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 10rem;
  align-items: center;
}
.top-wave-img,
.bottom-wave-img,
.black-wave-img {
  display: block;
  width: 100%;
}
.grow-together-img,
.flow-img,
.users-img {
  width: 100%;
}

.card-title {
  margin-bottom: 1.5rem;
}
.flow-conversation-article {
  padding: 0 13rem;
}
